<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:component-scan base-package="com.liupp"/>
    <!--<context:annotation-config></context:annotation-config>-->
    <!--<bean name="c" class="com.liupp.pojo.Category">-->
        <!--<property name="name" value="category_1"></property>-->
    <!--</bean>-->

    <!--<bean name="p" class="com.liupp.pojo.Product">-->
        <!--<property name="name" value="product_1"></property>-->
        <!--<property name="category" ref="c"></property>-->
    <!--</bean>-->

    <!--<bean id="loggerAspect" class="com.liupp.aspect.LoggerAspect"/>-->

    <!--<aop:config>-->
        <!--<aop:pointcut id="loggerCutpoint"-->
                      <!--expression=-->
                              <!--"execution(* com.liupp.service.ProductService.*(..)) "/>-->

        <!--<aop:aspect id="logAspect" ref="loggerAspect">-->
            <!--<aop:around pointcut-ref="loggerCutpoint" method="log"/>-->
        <!--</aop:aspect>-->
    <!--</aop:config>-->
    <aop:aspectj-autoproxy/>
</beans>